.megaXL {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    /* flex-wrap: wrap; */
}

.mega {
    display: flex;

    justify-content: center;
    width: 600px;
    max-width: 900px;
    /* For box size uncommint this and backgrnd color to see */
    padding: 1%;
    height: 89vh;
    /* background-color: #e0e0e0; */
    border-radius: 40px;
    /* background-color: #dadada; */

}

.sideBar {

    max-width: 20%;
    background-color: #f8f8f8;

}

.interactipnArea {
    flex: 1;
    display: flex;

    flex-direction: column;
    position: relative;
}

.chat {
    background-color: #e1eaf1;
    flex: 1;
    width: auto;
    overflow-y: auto;
    flex-direction: column;
  border-radius: 10px;


}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }
  


  
  .input-area {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
 
  
  
  



.inputt {
    display: flex;
    flex-direction: column;
    position: sticky;
    /* bottom: 0; */
    width: 100%;
    /* height: 1%; */
    border-radius: 10px;
    /*Take width of what ur faather gave you*/

}

.textInput {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}



.inputFld {


    width: 90%;
    /* box-shadow: 0 2px 4px rgb(249, 0, 0); */
    border-radius: 10px;
    max-width: 90vh;
    /* text-align: center; */
    padding: 5px;
    margin: 0px;
    border: none;
    /* border: 1px solid black; */
    border-radius: 10px;
    outline: none;
    background: white;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    flex: 1;
    margin: 8px;
}



.moreButtonsEtc {
    display: flex;
    align-items: center;
    width: 100%;
}


@media (max-width: 230px) {


    .inputFld {
        font-size: 12px;
    }
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#888, #555);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#292929, #757575);
}