<!-- <p>mega-cont works!</p> -->


<div class="megaXL">
    <div class="mega">

        <!-- Enable side Bar -->
        <!-- <div class="sideBar">
            <app-side-bar-c></app-side-bar-c>
        </div> -->
        
            
        
        <div class="interactipnArea">
            
            <div class="chat">

                <app-all-chat [mesage]="mesage" [displayingTextAsChat]="displayingTextAsChat" [responsee]="responsee" [displayingResponseAsChat]="displayingResponseAsChat" ></app-all-chat>

            </div>
        

            <div class="inputt">
                <div class="textInput">
                    <input type="text" class="textArea inputFld" [(ngModel)]="mesage">
                    <app-button-c class="btn" (click)="sendPrompt();mesage=''" ></app-button-c>
                </div>
            </div>
        </div>

    </div>


</div>