<!-- <p>mega-cont works!</p> -->
<div class="megaXL">
    <div class="mega">

        <!-- <div class="sideBar">
            <app-side-bar-c></app-side-bar-c>
        </div> -->

        <div class="interactipnArea">
            <div class="chat">
                <app-sent-msg-c></app-sent-msg-c>
                <app-recvd-msg-c></app-recvd-msg-c>
                <app-sent-msg-c></app-sent-msg-c>
                <app-recvd-msg-c></app-recvd-msg-c>
                <app-sent-msg-c></app-sent-msg-c>
                <app-recvd-msg-c></app-recvd-msg-c>
                <app-sent-msg-c></app-sent-msg-c>
                <app-recvd-msg-c></app-recvd-msg-c>
                <app-sent-msg-c></app-sent-msg-c>
                <app-recvd-msg-c></app-recvd-msg-c>
                <app-sent-msg-c></app-sent-msg-c>
                <app-recvd-msg-c></app-recvd-msg-c>
            </div>

            <div class="inputt">
                <div class="textInput">
                    <app-text-fld-c class="textArea"></app-text-fld-c>
                    <app-button-c class="btn"></app-button-c>

                </div>
                <!-- Maybe put more Buttns -->
                <div class=" moreButtonsEtc">  
                    <!-- uncomment to Test responsiveness -->
                    
                    <!-- <small><small>Lorsem ipsum dolor sit, amet consectetur adipisicing elit. D qui optio iusto neque
                            quidemeum provident porro adipisci.</small></small> -->
                            <!-- <app-button-c ></app-button-c>
                            <app-button-c ></app-button-c>
                            <app-button-c ></app-button-c> -->
                </div>
            </div>

        </div>


    </div>
</div>