<div class="recved">
    <div class="inner">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sed excepturi ipsa nam consequuntur incidunt
            quod vel possimus non quo debitis, autem vitae laudantium repellendus rerum, cum aliquam odio saepe.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sed excepturi ipsa nam consequuntur incidunt
            quod vel possimus non quo debitis, autem vitae laudantium repellendus rerum, cum aliquam odio saepe.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sed excepturi ipsa nam consequuntur incidunt
            quod vel possimus non quo debitis, autem vitae laudantium repellendus rerum, cum aliquam odio saepe.</p>
    </div>
</div>