.custom-button {
  background-color: #ffffff;
  border: none;
  color: #050505;
  margin: 12px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.071s ease-in;
  box-shadow: 0px 1px px  rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
  /* background-color: #00a846; */
  color: #2ef60f;
  /* transform: scale(1); */
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}

.custom-button:active {
  color: #1f4c17;
}

